@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding:0;
  margin:0;
  font-family: "Poppins",sans-serif;
}

body{
  background-color: rgb(234, 233, 233);
  scroll-behavior: smooth;
}

/*Intro Section*/

#home-section{
  margin-top:50px;
}

#about{
  margin-top:100px;
}

#text-logo{
  cursor: default;

}



.nav .nav-link:hover{
  color:grey !important;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* Remove hover effect from the logo's anchor tag */
.container #text-logo a:hover {
  color: inherit !important; /* Ensure it keeps the original color */
  text-decoration: none !important; /* No underline on hover */
}


#text-logo:hover {
  color: inherit !important; /* Keep the color the same on hover */
  text-decoration: none !important; /* Prevent underline */
}


/*SOCIALS CONTAINER */

#socials-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:100px;

}


.profile-img {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Make sure height equals width */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 50%; /* Makes the image circular */
  margin-right:20px;
}

#socials-text {
  display: flex;
  flex-direction: column;
  align-items: center;       /* Center text horizontally */
  justify-content: center;   /* Center text vertically */
  height: 100%;              /* Allow the container to stretch */
}


#socials-text h3,p{
  color:rgb(82, 82, 82);
}


.socials-buttons{
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-top:10px;
}



.socials-buttons img{
  width:50px;
  height:50px;

  
}

/*ABOUT PAGE*/

#about-paragraph{
  color:black
}

#about-img{
  border:10px solid black;
}



/* EXPERIENCE SECTION STYLES */
#experience {
  margin-top: 100px;
}

.experience-item {
  margin-bottom: 30px; /* Space between experience items */
}

.experience-item h4 {
  font-size: 1.5rem; /* Adjust the size as needed */
  margin-bottom: 5px;
}

.experience-item p {
  margin-bottom: 5px; /* Space below paragraphs */
}
